.background1{
    background-image: url(../images/pratham/home/banner1.jpg);
  }
  .nav-logo {width:80px}
  #contact {background: #762424; background-image: url(../images/footer.png);;}
  .rgba-black-strong, .rgba-black-strong::after {
    background-color: rgba(63,81,181,0.7);
}

.rgba-indigo-strong, .rgba-indigo-strong::after {
  background-color: 
  rgba(63,81,181,0.7);
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}
.nav-logo {
  width: 80px;
  background: 
  white;
  padding: 5px;
  margin-top: -20px;
  margin-bottom: -20px;
}
#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}