.background1{
    background-image: url(../images/pratham/home/banner1.jpg);
  }
  .nav-logo {width:80px}
  #contact {background: #762424; background-image: url(../images/footer.png);;}
  .rgba-black-strong, .rgba-black-strong::after {
    background-color: rgba(63,81,181,0.7);
}

.rgba-indigo-strong, .rgba-indigo-strong::after {
  background-color: 
  rgba(63,81,181,0.7);
}
/* Style the tab */
.tab {
  float: left;

  background-color: #762424;
  color:white;
  width: 100%;
  height: 68px;
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 20px 16px;
  width: 50%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
}


/* Change background color of buttons on hover */
.tab button:hover  {
  background-color: #FAA61A;

}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #FAA61A;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;

  
  border-left: none;
  height: 300px;
  display: none;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.nav-logo {

    width: 80px;
    background: white;
    padding:5px;
  
    margin-top: -20px;
    margin-bottom: -20px;

}
.tt1 {background: #FAA61A;}
.tt2 {background: #762424;}

.test {
  position:  absolute;
  top:56%;
  padding: 15px;
  z-index: 999;
  left:0;
  background: rgba(33, 37, 41, 0.9) ;
  margin: 15px;
  
}
.testp {;color:#707070;text-align: left;padding:10px 0; border-top:#FAA61A solid 5px; line-height: 24px; }

.test-title {color:#FAA61A}
.test-info {color:white}
select.form-control[multiple], select.form-control[size] {height: calc(30px + 15px);}
.txt-italic { font-style: italic; font-size: 22px; color:#bdbabc;}
.why-box img {width: 50%; margin: 0 25%;}
.why-box p {text-align: center!important;}
a.btn-project {border:1px #FAA61A solid; border-radius: 30px; margin: 10px 0; padding: 13px 40px; 
}
.experience {background: #faa61a;}
.primary_link a:hover, .filter-tabs li.filter.active, .comments, .blog_item a:hover, .navbar-light .navbar-nav .nav-link:hover, .socal_media_2 ul li a:hover, ul#menu li a:hover, .twite i, .twite a:hover, .category_sidebar ul li:hover, .white_link a:hover, .recent_post a:hover, .archives ul li a:hover {color:#faa61a}