/********************** Backgrounds **********************/
.master2
{
top: 31%;
    right: 40%;
    position: absolute;
    z-index: 100;
    width: 77px;
    height: 55px;

    
}

.master3
{
top: 32%;
    right: 48%;
    position: absolute;
    z-index: 100;
    width: 65px;
    height: 55px;

    
}

  .master4
  {
top: 32%;
    left: 26.5%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 51px;

   
}
  

  .master5
  {
  top: 32%;
    left: 38.5%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 50px;

    
}

 
  
  .master6
  {
  top: 42%;
    left: 49%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 60px;
    
}

  .master7
  {
  top: 32%;
    left: 57%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 50px;
    
}

  .master8
  {
  top: 42%;
    left: 57%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 60px;
   
}
  .master9
  {
   top: 32%;
    right: 27.5%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 50px;
    
}

  .master10
  {
top: 42%;
    right: 27.5%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 60px;
   
}

  .master11
  {
    top: 32%;
    right: 19.5%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 60px;
    
}

  .master12
  {
    top: 52%;
    right: 19.5%;
    position: absolute;
    z-index: 100;
    width: 65px;
    height: 80px;
   
}

  .master13
  {
   bottom: 22%;
    right: 19.5%;
    position: absolute;
    z-index: 100;
    width: 100px;
    height: 60px;
    
}

  .master14
  {
bottom: 22%;
    left: 52%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 70px;
    
}
  .master15
  {
 bottom: 22%;
    left: 44%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 70px;
   
}

  .master16
  {
    bottom: 22%;
    left: 34%;
    position: absolute;
    z-index: 100;
    width: 95px;
    height: 60px;
    
}

  .master17
  {
   bottom: 33%;
    left: 34%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 40px;
   
}

  .master18
  {
   bottom: 22%;
    left: 25%;
    position: absolute;
    z-index: 100;
    width: 95px;
    height: 60px;
   
}

  .master19
  {
   bottom: 33.5%;
    left: 25.5%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 50px;
    
}

  .master20
  {
  bottom: 33.5%;
    left: 17.5%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 50px;
   
}

  .master21
  {
  bottom: 23.5%;
    left: 17.5%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 50px;
    
}

  .master22
  {
bottom: 23.5%;
    left: 8.5%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 50px;
    
}


  .master23
  {
bottom: 33.5%;
    left: 8.5%;
    position: absolute;
    z-index: 100;
    width: 85px;
    height: 60px;
    
}


  .master24
  {
top: 18.4%;
    right: 15%;
    position: absolute;
    z-index: 100;
}
  .master25
  {
    bottom: 32.5%;
    right: 17%;
    position: absolute;
    z-index: 100;
}

  .master26
  {
bottom: 52%;
    right: 44.5%;
    position: absolute;
    z-index: 100;
}

  .master27
  {
bottom: 54.5%;
    right: 47%;
    position: absolute;
    z-index: 100;
}

  .master28
  {
bottom: 47%;
    left: 50.5%;
    position: absolute;
    z-index: 100;
}

  .master29
  {
bottom: 51%;
    left: 56.5%;
    position: absolute;
    z-index: 100;
}
  .master30
  {
bottom: 51%;
    left: 56.5%;
    position: absolute;
    z-index: 100;
}
  .master31
  {
bottom: 42%;
    left: 56%;
    position: absolute;
    z-index: 100;
}
  .master32
  {
bottom: 50.8%;
    left: 62%;
    position: absolute;
    z-index: 100;
}

  .master33
  {
bottom: 45%;
    left: 60%;
    position: absolute;
    z-index: 100;
}

  .master34
  {
bottom: 45.7%;
    left: 66.5%;
    position: absolute;
    z-index: 100;
}

  .master35
  {
bottom: 42.5%;
    right: 26.5%;
    position: absolute;
    z-index: 100;
}

